// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.backgroundImage{
  position: absolute;
  top: 0;
  height: 100vh;
  width:100vw;
  background: url('https://images.unsplash.com/photo-1602510599419-c688afe6a8db') no-repeat  ; 
  background-attachment:fixed;
  background-size:101vw;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: 'red';
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 500;
  
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width: 100%;
  position: relative;
  background-color:transparent;
  // background: url('img/bg2.jpg') no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.navbar.navbar-fixed-top.navbar-inverse{
  padding-left: 100px;
  padding-right: 100px;
}


/* Dropdown Button */
.dropbtn {
  background-color: #222;
  color: #9d9d9d;
  padding: 15px;
  font-size: 15px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #cbc7bd; color: black;}

