// Place all the styles related to the ExerciseComputation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#pft.ui-tabs-panel.ui-corner-bottom.ui-widget-content,
#bmr.ui-tabs-panel.ui-corner-bottom.ui-widget-content,
#rmr.ui-tabs-panel.ui-corner-bottom.ui-widget-content,
#bmi.ui-tabs-panel.ui-corner-bottom.ui-widget-content,
#dcb.ui-tabs-panel.ui-corner-bottom.ui-widget-content,
#mhr.ui-tabs-panel.ui-corner-bottom.ui-widget-content,
#cbr.ui-tabs-panel.ui-corner-bottom.ui-widget-content,
#vo2max.ui-tabs-panel.ui-corner-bottom.ui-widget-content,
#cbra.ui-tabs-panel.ui-corner-bottom.ui-widget-content
{
  background: white;
}

.common_inputs{
  padding-bottom: 25px;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}