// Place all the styles related to the FoodTrack controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-body{
  border-style: solid; 
  padding: 20px;
  margin: 5px; 
}

.btn {
  margin: 0px !important;
}

.search_form{
  margin-bottom: 10px;
}